
section{
  padding: 40px;
  background: #63DCEF;
  border-bottom: 1px solid #DCDCDC;
}


section h4 {
  position:absolute;
  top: 2.0em;
  right: 40px;
}


.section-content {
  float: left;
  width: 70%;
}

.section-aside {
  float: right;
  width: 30%;
  margin-top: 80px;
  padding-left: 40px;
}

.section-aside + .section-aside {
  padding-top: 20px;
  margin-top: 0px;
}
